<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
      ~{:: title},
      ~{:: #static-resources},
      ~{:: #nav},
      ~{:: #main-content},
      ~{:: #footer})}">
<head>
    <title>Edit User Page</title>
    <th:block id="static-resources">
        <link th:href="@{/styles/users/users.css}" rel="stylesheet"/>
    </th:block>
</head>
<body>
<div id="nav" th:replace="~{/fragments/app-fragments :: nav}"></div>
<div id="main-content" >
    <h1 style="text-align: center">Edit User</h1>
    <div>
        <table class="center">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>DOB</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.birthday}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="user-form">
        <form th:action="@{/edituser}" th:object="${user}" method="post">
            <input type="hidden" th:field="*{id}"><br>

            <label for="username">Username:</label><br>
            <input type="text" id="username" th:name="username" minlength="4" required><br>
            <div th:if="${#fields.hasErrors('username')}">
                <ul>
                    <li th:each="err : ${#fields.errors('username')}" th:text="${err}" class="error"/>
                </ul>
            </div>

            <label for="email">Email:</label><br>
            <input type="email" id="email" th:name="email" required><br>
            <div th:if="${#fields.hasErrors('email')}">
                <ul>
                    <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error"/>
                </ul>
            </div>

            <label for="birthday">Birthday:</label><br>
            <input type="date" id="birthday" th:name="birthday" required><br>
            <div th:if="${#fields.hasErrors('birthday')}">
                <ul>
                    <li th:each="err : ${#fields.errors('birthday')}" th:text="${err}" class="error"/>
                </ul>
            </div>

            <input type="submit" class="btn btn-primary" value="Save">
        </form>
    </div>
</div>
<div id="footer" th:replace="~{/fragments/app-fragments :: footer}"></div>
</body>
</html>
